.container {
  background: #fff;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  flex: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}
